.book-card {
    padding: 1rem;
    height: 400px;
    width: 250px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    cursor: pointer;
    transition: 0.2s linear;
}

.card-image {
    height: 300px;
    filter: grayscale(100);
    transition: 0.2s linear;
}

.book-card:hover .card-image {
    filter: grayscale(0);
}

.book-card:hover {
    box-shadow: 6px 6px black;
    transform: translate(-2px, -2px);
}

.icon {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.icon:hover {
    color: white;
}

.condition-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
    height: 24px;
}

.condition-input input {
    height: 24x;
    flex: 1;
    max-width: 70%;
}

.condition-input button {
    height: 24px;
    display: flex;
    align-items: center;
    background-color: gray;
    border: 0;
    transition: background-color 0.3s
}

.condition-input button:hover {
    background-color: dimgrey;
}

.condition {
    height: 24px;
}