@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.icon
{
    max-width: 50px;
    margin: 0 7px;
}

.navbar-brand
{
    letter-spacing: .17rem
}

.navbar2
{
    background-color: #902724 !important;
}

.comic-circle
{
    font-family: "Bangers", system-ui;
}
